.unauthorized-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .icon-wrapper {
    background-color: #f44336;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .lock-icon {
    width: 60px;
    height: 60px;
    fill: white;
  }
  